.main-content
{
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}

h1
{
  margin-top: 4vh;
  color: #343a40;
  font-family: 'Archivo Black', sans-serif;
  font-size: 35px;
  margin-bottom: 20px;
}

h5{
  color: #343a40;
}

p{
  margin-top: 5px;
}

.col
{
  font-size: 15px;
  height: 55px;
  align-items: center;
  justify-content: center;
}

.wrapper
{
  width: 75%;
  height: 94vh;
  margin: auto;
  margin-top: 3vh;
  box-shadow: 3px 6px 8px 3px rgba(14, 14, 14, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background-color: #ffffff;
}

.getinfo
{
  border: none;
  color: white;
  width: 320px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(63, 5, 117);
  font-family: 'Archivo Black', sans-serif;
}

.select
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button
{
    display: flex;
    align-items: center;
    justify-content: center;
}


