.main-content
{
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}

.wrapper
{
  width: 75%;
  height: 94vh;
  margin: auto;
  margin-top: 3vh;
  box-shadow: 3px 6px 8px 3px rgba(14, 14, 14, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}


